/* frontend/src/App.css */
.App {
  text-align: center;
  font-family: sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

main {
  padding: 10px;
}